.header__logo-text {
  display: inline-block;
  font-family: 'GolosText', 'Arial';
  font-size: 16.65px;
  font-weight: bold;
  line-height: 105%;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #595653;
}