.header {
    background-image: url(../../images/main.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header__title {
        font-size: 54px;
}

.header__description {

}

.header__navigation {

}

.header__button-support {

}

.header__button-about {
    
}